USE [master]
GO
/****** Object:  Database [Buff]    Script Date: 10/04/2026 01:13:32 a. m. ******/
CREATE DATABASE [Buff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Buff', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Buff.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Buff_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Buff_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Buff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Buff]
GO
/****** Object:  Table [dbo].[ALERTAS]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERTAS](
	[IDALERTA] [int] IDENTITY(1,1) NOT NULL,
	[MENSAJE] [text] NOT NULL,
	[NIVEL_ALERTA] [varchar](20) NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_ALERTAS_IDALERTA] PRIMARY KEY CLUSTERED 
(
	[IDALERTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASIFICACIONES]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASIFICACIONES](
	[IDCLASIFICACION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[NIVEL_SERVICIO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CLASIFICACIONES_IDCLASIFICACION] PRIMARY KEY CLUSTERED 
(
	[IDCLASIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL](
	[IDHISTORIAL] [int] IDENTITY(1,1) NOT NULL,
	[CAMPO_MODIFICADO] [varchar](50) NOT NULL,
	[VALOR_ANTERIOR] [varchar](100) NOT NULL,
	[VALOR_NUEVO] [varchar](100) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
 CONSTRAINT [PK_HISTORIAL_IDHISTORIAL] PRIMARY KEY CLUSTERED 
(
	[IDHISTORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[IDINVENTARIO] [int] IDENTITY(1,1) NOT NULL,
	[STOCK] [int] NOT NULL,
	[STOCK_MINIMO] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
 CONSTRAINT [PK_INVENTARIO_IDINVENTARIO] PRIMARY KEY CLUSTERED 
(
	[IDINVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTOS]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTOS](
	[IDMOVIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_MOVIMIENTO] [varchar](20) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
 CONSTRAINT [PK_MOVIMIENTOS_IDMOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[IDMOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IDPRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[VALOR_UNITARIO] [decimal](10, 2) NOT NULL,
	[ESTATUS] [varchar](20) NOT NULL,
	[IDCLASIFICACION] [int] NOT NULL,
	[CLASIFICACION_ABC] [char](1) NULL,
 CONSTRAINT [PK_PRODUCTOS_IDPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/04/2026 01:13:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ROL] [varchar](100) NOT NULL,
	[CORREO] [varchar](100) NOT NULL,
	[TELEFONO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_USUARIOS_IDUSUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALERTAS] ON 

INSERT [dbo].[ALERTAS] ([IDALERTA], [MENSAJE], [NIVEL_ALERTA], [FECHA]) VALUES (1, N'RIESGO_PENALIZACION_FALTANTE', N'CRITICO', CAST(N'2026-04-02T18:38:59.267' AS DateTime))
INSERT [dbo].[ALERTAS] ([IDALERTA], [MENSAJE], [NIVEL_ALERTA], [FECHA]) VALUES (2, N'VARIACION_LEAD_TIME_PROVEEDOR', N'MEDIO', CAST(N'2026-04-02T18:38:59.267' AS DateTime))
INSERT [dbo].[ALERTAS] ([IDALERTA], [MENSAJE], [NIVEL_ALERTA], [FECHA]) VALUES (3, N'EXCESO_CAPITAL_INMOVILIZADO', N'BAJO', CAST(N'2026-04-02T18:38:59.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[ALERTAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASIFICACIONES] ON 

INSERT [dbo].[CLASIFICACIONES] ([IDCLASIFICACION], [NOMBRE], [DESCRIPCION], [NIVEL_SERVICIO]) VALUES (1, N'Sensores Industriales', N'Componentes electrónicos de entrada y medición', N'Alto')
INSERT [dbo].[CLASIFICACIONES] ([IDCLASIFICACION], [NOMBRE], [DESCRIPCION], [NIVEL_SERVICIO]) VALUES (2, N'Kit de Distribución', N'Partes mecánicas de motor y sistema de transmisión', N'Alto')
INSERT [dbo].[CLASIFICACIONES] ([IDCLASIFICACION], [NOMBRE], [DESCRIPCION], [NIVEL_SERVICIO]) VALUES (3, N'Taladro Percutor', N'Herramientas eléctricas y manuales de ensamble', N'Medio')
SET IDENTITY_INSERT [dbo].[CLASIFICACIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORIAL] ON 

INSERT [dbo].[HISTORIAL] ([IDHISTORIAL], [CAMPO_MODIFICADO], [VALOR_ANTERIOR], [VALOR_NUEVO], [FECHA], [IDPRODUCTO]) VALUES (1, N'STOCK_MINIMO', N'100', N'135', CAST(N'2024-03-20T10:00:00.000' AS DateTime), 1)
INSERT [dbo].[HISTORIAL] ([IDHISTORIAL], [CAMPO_MODIFICADO], [VALOR_ANTERIOR], [VALOR_NUEVO], [FECHA], [IDPRODUCTO]) VALUES (2, N'VALOR_UNITARIO', N'48000', N'50000', CAST(N'2024-02-15T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[HISTORIAL] ([IDHISTORIAL], [CAMPO_MODIFICADO], [VALOR_ANTERIOR], [VALOR_NUEVO], [FECHA], [IDPRODUCTO]) VALUES (3, N'ESTATUS', N'INACTIVO', N'ACTIVO', CAST(N'2024-01-01T08:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[HISTORIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[INVENTARIO] ON 

INSERT [dbo].[INVENTARIO] ([IDINVENTARIO], [STOCK], [STOCK_MINIMO], [IDPRODUCTO]) VALUES (1, 65, 100, 1)
INSERT [dbo].[INVENTARIO] ([IDINVENTARIO], [STOCK], [STOCK_MINIMO], [IDPRODUCTO]) VALUES (2, 9200, 5000, 2)
INSERT [dbo].[INVENTARIO] ([IDINVENTARIO], [STOCK], [STOCK_MINIMO], [IDPRODUCTO]) VALUES (3, 15, 20, 3)
SET IDENTITY_INSERT [dbo].[INVENTARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIMIENTOS] ON 

INSERT [dbo].[MOVIMIENTOS] ([IDMOVIMIENTO], [TIPO_MOVIMIENTO], [CANTIDAD], [FECHA], [IDUSUARIO], [IDPRODUCTO]) VALUES (1, N'SALIDA', 35, CAST(N'2024-03-15T10:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[MOVIMIENTOS] ([IDMOVIMIENTO], [TIPO_MOVIMIENTO], [CANTIDAD], [FECHA], [IDUSUARIO], [IDPRODUCTO]) VALUES (2, N'ENTRADA', 10000, CAST(N'2024-03-05T09:00:00.000' AS DateTime), 3, 2)
INSERT [dbo].[MOVIMIENTOS] ([IDMOVIMIENTO], [TIPO_MOVIMIENTO], [CANTIDAD], [FECHA], [IDUSUARIO], [IDPRODUCTO]) VALUES (3, N'SALIDA', 5, CAST(N'2024-03-20T11:00:00.000' AS DateTime), 5, 3)
SET IDENTITY_INSERT [dbo].[MOVIMIENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([IDPRODUCTO], [VALOR_UNITARIO], [ESTATUS], [IDCLASIFICACION], [CLASIFICACION_ABC]) VALUES (1, CAST(50000.00 AS Decimal(10, 2)), N'ACTIVO', 1, N'B')
INSERT [dbo].[PRODUCTOS] ([IDPRODUCTO], [VALOR_UNITARIO], [ESTATUS], [IDCLASIFICACION], [CLASIFICACION_ABC]) VALUES (2, CAST(2.00 AS Decimal(10, 2)), N'ACTIVO', 4, N'C')
INSERT [dbo].[PRODUCTOS] ([IDPRODUCTO], [VALOR_UNITARIO], [ESTATUS], [IDCLASIFICACION], [CLASIFICACION_ABC]) VALUES (3, CAST(1200.00 AS Decimal(10, 2)), N'ACTIVO', 1, N'A')
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([IDUSUARIO], [NOMBRE], [ROL], [CORREO], [TELEFONO]) VALUES (1, N'Roberto', N'Planificador Senior', N'roberto.p@buff.com', N'555-0101')
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [NOMBRE], [ROL], [CORREO], [TELEFONO]) VALUES (2, N'Ana', N'Gerente Logística', N'ana.g@buff.com', N'555-0102')
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [NOMBRE], [ROL], [CORREO], [TELEFONO]) VALUES (3, N'Carlos', N'Comprador', N'carlos.c@buff.com', N'555-0103')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USUARIOS_CORREO]    Script Date: 10/04/2026 01:13:32 a. m. ******/
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [UQ_USUARIOS_CORREO] UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_Clasificacion]  DEFAULT ('C') FOR [CLASIFICACION_ABC]
GO
ALTER TABLE [dbo].[HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIAL_IDPRODUCTO] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[HISTORIAL] CHECK CONSTRAINT [FK_HISTORIAL_IDPRODUCTO]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_IDPRODUCTO] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_IDPRODUCTO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTOS_IDPRODUCTO] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[MOVIMIENTOS] CHECK CONSTRAINT [FK_MOVIMIENTOS_IDPRODUCTO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTOS_IDUSUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[MOVIMIENTOS] CHECK CONSTRAINT [FK_MOVIMIENTOS_IDUSUARIO]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_IDCLASIFICACION] FOREIGN KEY([IDCLASIFICACION])
REFERENCES [dbo].[CLASIFICACIONES] ([IDCLASIFICACION])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_IDCLASIFICACION]
GO
USE [master]
GO
